.bg-ci-primary {
    background-color: #f79018 !important;
}
.text-ci-primary {
    color: #f79018 !important;
}
.bg-ci-secondary {
    background-color: #fb9e33 !important;
}
.text-ci-secondary {
    color: #fb9e33 !important;
}